---
import Newsletter from "../Newsletter.astro";
let bandInfo = {
  name: "Band Name",
  bio: "For people in love of all ages",
  image: "/yoko-nono.webp",
};
type Props = {
  isBlack: boolean;
};
const { isBlack = false } = Astro.props;
import clsx from "clsx";
import { Icon } from "astro-icon/components";
---

<footer class="p-10 mx-auto block space-y-8">
  <!-- <h1 class="text-4xl mb-4">{bandInfo.name}</h1> -->
  <div class="flex flex-col">
    <img
      src={bandInfo.image}
      alt={bandInfo.name}
      class="mx-auto mb-5"
      width={700}
      height={100}
    />
    <div class="w-full sm:w-[50%] mx-auto">
      <Newsletter />
    </div>
  </div>
  <!-- <p>{bandInfo.bio}</p> -->
  <div
    class={clsx(
      "text-center font-extralight",
      isBlack ? "text-gray-800" : "text-gray-100",
    )}
  >
    <p>Copyright © 2024 Yoko Nono</p>
  </div>
</footer>
