---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
---

<Layout title="Bio page">
  <div class="relative isolate overflow-hidden w-full min-h-[100vh]">
    <Header isBlack={false} />
    <img
      src="/yokonono-group.webp"
      alt="hero background"
      class="absolute inset-0 -z-20 h-full w-full object-cover"
    />
  </div>
</Layout>
