---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Hero from "../components/Hero.astro";
import ShowDate from "../components/sections/ShowDates.astro";
---

<Layout title="Welcome to Astro.">
  <main class="w-full h-full">
    <Hero imageUrl="/hero_image.webp" />
    <ShowDate />
  </main>
</Layout>
