---
interface Props {
  imageUrl: string;
}
const { imageUrl } = Astro.props;
import Header from "./Header.astro";
---

<div class="relative isolate overflow-hidden w-full min-h-[100vh]">
  <Header isBlack={false} />
  <img
    src={imageUrl}
    alt="hero background"
    class="absolute inset-0 -z-20 h-full w-full object-cover"
  />
  <img
    src="/bejba-z-drinki.svg"
    alt="hero title"
    class="absolute -z-10 left-1/2 transform -translate-x-[53%] top-[30%] sm:top-[25%] sm:w-auto sm:h-auto"
  />
  <img
    src="/yoko-nono.webp"
    alt="hero title"
    class="absolute -z-10 left-1/2 transform -translate-x-1/2 top-[20%] sm:top-[40%] sm:w-auto sm:h-auto px-4"
  />
</div>
